body{
    background-color: rgb(178, 246, 223);
    font-family: 'Arial', sans-serif;
    margin: 0px;
    padding: 0px;
}

.container{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.navbar{
    display: flex;
    align-items: center;
    background-color: azure;
}