
.costom-navbar{
    background: #3b5d50 !important;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

.custom-navbar .navbar-brand{
    font-size: 32px;
    font-weight: 600;
}
.navbar-dark .navbar-brand{
    color: #fff;
}
.navbar-brand{
    padding-top: .3125rem;
    padding-bottom: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}